.container {
  max-width: 960px;
  margin-bottom: 30px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.grid-cell {
  flex: 1;
}

.grid-center {
  justify-content: center;
  align-items: center;
}

.grid-end {
  justify-content: flex-end;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center; 
}

.align-right {
  text-align: right;
}